*{
    padding: 0%;
    margin: 0%;
}
.box{
    width: 500px;
    height: 500px;
    padding: 5%;
    margin: auto;
    margin-top: 10%;
    border-radius: 8vh;

}
.box h1{
    padding: 20px;
    font-family: "Trirong", serif;
    text-align: center;
}
.top img{
    width: 500px;
    position: relative;
    bottom:0;
    border-radius: 2vh;
}
.content{
    display: none;
    
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Trirong", serif;
    position: absolute;
    top: 96%;
    left:31.4%;
    border-radius: 2vh;
    width: 500px;
    background-color: aqua;
    
}
.top:hover .content{
    cursor: pointer;
    display: block;
    
    
    
    
}
.content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}





