*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading,.child{
    text-align: center;
}
.child{
    position: relative;
    bottom: 0%;
}
.child img{
    width: 400px;
    border-radius: 2vi;

}

.content{
    position: absolute;
    top: 83%;
    left:35.3%;
    display: none;
    width: 29.5%;
   
}
.child:hover .content{
    display: block;
    cursor: pointer;

    background-color: aqua;
    border-radius: 2vi;
    

}



